{% extends "base.html" %}
{% load widget_tweaks static %}
{% block title %}Reset Password | {{ site_name }}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <h2>Reset your password</h2>
    <p>Enter your email and we’ll send you a link to reset it.</p>
    <form method="post">
      {% csrf_token %}
      {{ form.email.label_tag }}<br>
      {{ form.email |add_class:"form-control"  }}<br>
      <button type="submit" class="btn btn-primary mt-2">Send reset link</button>
    </form>
  </div>
</div>

{% endblock %}
