# .env
DEBUG=True
SECRET_KEY='django-insecure-v-=n0vohvaq3_7@fl6w!cduugpvgemf#hwa=gtzl!fqj9giyn%'
ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=smartcv
DB_USER=admin
DB_PASSWORD=Rasu1991
DB_HOST=127.0.0.1
DB_PORT=3306

AWS_STORAGE_BUCKET_NAME=your-bucket-name
AWS_S3_REGION_NAME=your-region
AWS_ACCESS_KEY_ID=AKIA…
AWS_SECRET_ACCESS_KEY=…
