{% extends 'dashboard.html' %}
{% load static %}

{% block content %}
    <div class="filter-section">
        <br/>
        <h2>Shuffle</h2>
        <form method="get" action="">
            <div class="row g-3">

                <div class="col-md-8">
                    <div class="input-group">
                        <label>
                            <input type="text"
                                   class="form-control"
                                   name="q"
                                   placeholder="Enter keyword..."
                                   value="{{ request.GET.q }}">
                        </label>
                        <button class="btn btn-primary" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>


                <div class="col-md-4">
                    <select class="form-select" name="sort">
                        <option value="-created_at" {% if request.GET.sort == "-created_at" %}selected{% endif %}>
                            Newest
                        </option>
                        <option value="created_at" {% if request.GET.sort == "created_at" %}selected{% endif %}>Oldest
                        </option>
                        <option value="title" {% if request.GET.sort == "title" %}selected{% endif %}>Name order
                        </option>
                    </select>
                </div>
            </div>

            <div class="row mt-3 g-3">
                <!-- Date -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title">Upload time</h6>
                            <div class="row g-3 align-items-center">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Start Time</label>
                                        <input type="date"
                                               class="form-control"
                                               name="start_date"
                                               value="{{ request.GET.start_date }}"
                                               max="{{ request.GET.end_date|default:'' }}"
                                               onchange="document.getElementsByName('end_date')[0].min = this.value">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">End Time</label>
                                        <input type="date"
                                               class="form-control"
                                               name="end_date"
                                               value="{{ request.GET.end_date }}"
                                               min="{{ request.GET.start_date|default:'' }}"
                                               onchange="document.getElementsByName('start_date')[0].max = this.value">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>

    <div class="results-section">
        {% if resumes %}
            <div class="resume-count">Find {{ page_obj.paginator.count }} Resume</div>

            <div class="card">
                <h5 class="card-header">Resume table</h5>
                <div class="table-responsive text-nowrap">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Actions</th>
                            <th>Skills</th>
                        </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">

                        {% for resume in resumes %}
                            <tr>
                                <th>{{ resume.id }}</th>
                                <td>{{ resume.name }}</td>
                                <td>{{ resume.email }}</td>
                                <td>{{ resume.status }}</td>
                                <td>{{ resume.actions }}</td>
                                <td>{{ resume.skills }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>


            <div class="pagination">
                <!-- paging -->
                <nav class="mt-4">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="">Top</a>
                            </li>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <li class="page-item active">
                                    <span class="page-link">{{ num }}</span>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="">{{ num }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="">End</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>>
        {% else %}
            <p class="no-results">No found</p>
        {% endif %}

    </div>
{% endblock %}